.combobox {
    position: relative;
   
}

.combobox-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 24px;
    cursor: pointer;
}

.combobox-icon .icon-direction-department,
.combobox-icon .icon-direction-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    text-align: center;
}

.show {
    display: block !important;
}

