.icon-s {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.icon-lg {
    height: 24px;
    width: 24px;
    position: absolute;
}

.icon-sm {
    height: 20px;
    width: 20px;
}

.icon {
    height: 16px;
    width: 16px;
}